.logo{
    width: 1.5vw;
    height: 3vh;
    background: url('/public/favicon-32x32.png') no-repeat center;
    background-size: contain;
    margin: 0 0.1vw 0 1vw;
}
a{
  letter-spacing: normal;
}
@media only screen and (min-width: 768px) {
    body {
      font-size: 16px;
      letter-spacing: 2px;
    }
    .btn{
        font-size: 14px;
        letter-spacing: 2px;
    }
  }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    body {
      font-size: 15px;
      letter-spacing: 1.9px;
    }
    .btn{
        font-size: 13px;
        letter-spacing: 1.9px;
    }
  }
  @media only screen and (max-width: 479px) {
    body {
      font-size: 14px;
      letter-spacing: 1.8px;
    }
    .btn{
        font-size: 12px;
        letter-spacing: 1.8px;
    }
  }
